<!DOCTYPE html>
<html lang="sr" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Customers Report</title>
    <link rel="stylesheet" th:href="@{~/css/invoice.css}"/>
    <style>
        body {
            box-sizing: border-box;
            font-family: "DejaVu Sans";
            font-size: 10px;
        }
    </style>
</head>

<body>
<div class="">
    <div class="">
        <div class="">
            
        </div>
    </div>
</div>
</body>

</html>
